body {
    text-align: center;
    margin: 0;
    height: 100%;
   

}

h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

#id1 {
    color:blue;
}

.class1 {
    color: red;
}

